<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>tools</title>
    <link rel="stylesheet" href="./libs/bootstrap.min.css" />
</head>
<body>
    <div id="app" class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon">chain</span>
                    <input class="form-control" id="chainId" value="connecting..." readonly />
                </div>
				<div style="height:5px;"></div>
                <div class="input-group">
                    <span class="input-group-addon">connected address</span>
                    <input class="form-control" id="connectedAddress" value="connecting..." readonly />
                </div>
                <div style="height:5px;"></div>

                <ul class="nav nav-tabs">
                    <li role="presentation" class="active" ><a href="#decodeelp" data-toggle="tab">decode elp</a></li>
                    <li role="presentation"><a href="#common-contracts" data-toggle="tab">common contracts</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="decodeelp">

                    </div>
                    <div class="tab-pane" id="common-contracts">
                        <div style="height:5px;"></div>                       
                            <div class="btn-group" role="group" >
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 150px;">
                                    <span v-text="activeAbi.name"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li v-for="item in activeAbi.abi" v-click="initAbi(item.name)"><a v-text="item.name"></a></li>
                                </ul>
                            </div>
                            <div class="btn-group" role="group" style="margin-left: 10px;">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 150px;">
                                    <span>function</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li v-for="item in activeFuncs"><a v-text="item.name"></a></li>
                                </ul>
                            </div>

                            <div class="input-group" style="margin-top: 5px;">
                                <span class="input-group-addon" id="basic-addon1">Contract Address</span>
                                <input type="text" class="form-control" placeholder="Contract Address" aria-describedby="basic-addon1">
                            </div>

                            <div style="height:5px;"></div>
                            <div class="panel panel-default">
                                <div class="panel-heading">function name</div>
                                <div class="panel-body">
                                    <div class="input-group" style="margin-top:5px;">
                                        <span class="input-group-addon" id="basic-addon1">input params 1</span>
                                        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                    </div>
                                    <textarea rows="10" class="form-control" id="info" style="margin-top: 10px;"></textarea>
                                    <div style="height:10px;"></div>
                                    <div>
                                        <button class="btn btn-default">query</button>
                                    </div>    
                                </div>
                            </div>                       
                    </div>
                </div>    
            </div>
        </div>
    </div>
</body>
<script src="/libs/jquery-3.6.0.js"></script>
<script src="/libs/bootstrap.min.js"></script>
<script src="/libs/web3.min.js"></script>
<script src="/libs/vue-2.6.14.js"></script>
<script src="/libs/abis.js"></script>
<!-- <script src='/libs/bignumber.min.js'></script> -->
<!-- <script src="/libs/ethers.min.js"></script> -->

<script type="text/javascript">

    function initChain(){
        window.ethereum.request({method:"eth_chainId"}).then(function(e){
            e=parseInt(e).toString();

            window.chainId=e;
            $('#chainId').val(e);
        },
        function(err){
            $("#chainId").html("get chainid error");
        });        
    }
    initChain();

	async function getAccounts() {
		return await window.ethereum.request({ method: "eth_accounts"});
	}

    async function enableAddress(){
		window.ethereum.request({ method: 'eth_requestAccounts' }).then(async function(e){
			// alert(window.ethereum.address);
			var accounts = await getAccounts();
			$("#connectedAddress").val(accounts[0]);
			if(!$('#to').val()){
				$('#to').val(accounts[0]);
			}
		},
		function(err){
			if(err!=null){
				$("#connectedAddress").val(JSON.stringify(err));
			}
		});

    }
    enableAddress();

    function setMsg(msg){
        $('#info').val(msg);
    }

	$('#conncet').on('click',function(){
		enableAddress();
	});

    var app = new Vue({
        el: '#app',
        data: {
            abis:[
                {
                    name:"erc20",
                    abi:erc20Abi
                },
                {
                    name:"erc721",
                    abi:erc721Abi
                }
            ],
            activeAbi:{
                name:"contract",
                abi:[]
            },
            activeFuncs:[]
        },
        methods:{
            initAbi:function(e){
                var abiTemp = null;
                for(var i in this.abis){
                    if(e == this.abis[i].name){
                        abiTemp = this.abis[i];
                        break;
                    }
                }

                var abi2 = abiTemp.abi;
                var funcsTemp = [];
                for(var i in abi2){
                    var item = abi2[i];
                    if(item["type"] != "function"){
                        continue;
                    }
                    var obj={
                        name:item["name"],
                        inputs:item["inputs"],
                        outputs:item["outputs"],
                        payable:item["stateMutability"] == "payable",
                        isQuery:item["stateMutability"] == "view" || item["stateMutability"] == "pure"
                    }

                    funcsTemp.push(obj);
                }

                this.activeAbi = abiTemp;
                this.activeFuncs = funcsTemp;
            }
        }
    });
	
    // app.initAbi("erc20");

	async function signBindAccount(chainId,gameAccount,userAddress,deadline,callback){
        var datas = {
            "types":{
                "EIP712Domain":[
                    {
                        "name":"name",
                        "type":"string"
                    },
                    {
                        "name":"chainId",
                        "type":"uint256"
                    }
                ],
                "BindAccount":[
                    {
                        "name":"account",
                        "type":"string"
                    },
                    {
                        "name":"userAddress",
                        "type":"address"
                    },
                    {
                        "name":"deadline",
                        "type":"uint256"
                    }
                ]
            },
            "primaryType":"BindAccount",
            "domain":{
                "name":"GIIIO",
                "chainId":chainId,
            },
            "message":{
                "account":gameAccount,
                "userAddress":userAddress,
                "deadline":deadline
            }
        };

        web3.currentProvider.sendAsync({
            method:'eth_signTypedData_v4',
            params:[userAddress,JSON.stringify(datas)]
        }, function (err,result) {
			if(err){
				callback(err,result);
			}

			result.result = result.result.substr(2,130);
			var obj = {
				r:"0x"+ result.result.substr(0,64),
				s:"0x"+ result.result.substr(64,64),
				v:"0x"+ result.result.substr(128,2)
			}

			callback(err,obj);
        });		
	}

	$('#eip712-signTest').on('click',async function(){
        var gameAccount = "xxx@gmail.com";
		var accounts = await window.ethereum.request({ method: "eth_accounts"});
        var userAddress = accounts[0];
        var deadline = "1650788336";
        var message = "address: "+ userAddress +"\n" + "gameAccount: " + gameAccount +"\n" + "deadline:" + deadline;
        var chainId = await ethereum.request({method:"eth_chainId"});
        
		signBindAccount(chainId,gameAccount,userAddress,deadline,function(err,result){
			if(err){
				console.log(err);
			}else{
				setMsg(JSON.stringify(result));
			}
		});
    });

    function setCookie(){
        $.ajax({
            url:"http://localhost:8080/setCookie",
            type:"post",
            dataType:"json",
            data:null,
            xhrFields: { withCredentials: true },
            crossDomain: true,
            success:function(e){
                console.log(e);
            },
            error:function(e){
                console.log(e);
            }
        })
    }

    function getCookie(){
        document.cookie = "access_token=access_token_val";
        $.ajax({
            url:"http://localhost:8080/getCookie",
            type:"get",
            dataType:"json",
            data:null,
            xhrFields: { withCredentials: true },
            crossDomain: true,
            success:function(e){
                console.log(e);
            },
            error:function(e){
                console.log(e);
            }
        })
    }

</script>

</html>